.bienvenido h1{
    color: #ffffff !important;    
}
.bienvenido h1 span {
    color: #5E0000;
}
.cards {
    margin: auto;
    margin-bottom: 10%;
    justify-content: center;
}

.card {
    background-color: #5E0000;
    color: whitesmoke;
    width: 400px;
    height: 450px
    
}

.espacio_cards {
    width: 25px;
    height: auto;
    display: inline-block;
}

.boton_link {
    border-color: transparent;
    background-color: transparent;
}


.zoom {
  transition: transform .2s; /* Animation */
  width: 400px;
  height: 450px;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}