.page-footer {
    background-color: #5E0000;
    color: whitesmoke;
}

.logo {
   size: 20px;
   display: inline-flex;
}

.espacio {
    width: 14px;
}

.fab {
    font-size: 30px;
    color: whitesmoke;
}

.far {
    font-size: 30px;
    color: whitesmoke;
    float: inline-end;
}
.comentarios{
    font-size: 30px !important;
    color: whitesmoke;
    float: inline-end;
}