.page-footer {
    background-color: #841F27;
    color: whitesmoke;
}

.logo {
   size: 30px;
   display: inline-flex;
}

.espacio {
    width: 24px;
}

.fab {
    font-size: 40px;
    color: whitesmoke;
}

.far {
    font-size: 40px;
    color: whitesmoke;
    float: inline-end;
}