body {
    background-image: url(https://wallpapershome.com/images/wallpapers/grapes-3840x2160-4k-15355.jpg);
    background-size: cover;
    background-color: rgb(243, 230, 230);
    background-repeat: no-repeat;
}

.container {
    margin-top: 29%;
    justify-content: center;
}

#contenedor_boton1 {
    background: #841F27;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-color: transparent;
    width: 19%;
    height: auto;
    text-align: center;
}

#contenedor_boton2 {
    background: #841F27;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-color: transparent;
    width: 19%;
    height: auto;
    text-align: center;
}

#boton_galeria {
    font-family: Saira ExtraCondensed;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
}

#space {
    width: 13%;
    height: auto;
    display: inline-block;
}

#boton_eventos {
   font-family: Saira ExtraCondensed;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
}
