@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
	font-family: 'Roboto', sans-serif
}
/*.home {																										
    background-image: url(../img/fondoHomeInv.jpg);
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}*/

.container {	
	justify-content: center;
}

.bienvenido h1 {
    font-size: 50px;
    font-family: 'Abril Fatface', cursive !important;   //agrego estilo de letra (17/6)
}

.bienvenido h5 {
	font-size: 40px;	
}

.bienvenido p {
	font-size: 30px;	
}

.bienvenido img {
	margin-right: 10px;
}