.home{
background: url(../img/fondoHomeInv.jpg);
min-width: 100%;
height:700px;
background-size: cover;
background-position:center ;
}
.home{
font-family: 'Abril Fatface', cursive;
//font-family: 'Acme', sans-serif;
//font-family: 'Kanit', sans-serif;
}



.container {
    margin-top: 29%;
    justify-content: center;
}
.bienvenido h1{
    font-size: 50px;;
}
.bienvenido h5{
    font-size: 40px;;
}
.bienvenido p{
    font-size: 30px;;
}

.bienvenido img{
    margin-right: 10px;
}