/* 
    General Styles
*/

body {
  font-family: "Roboto", sans-serif;
  background: url(../img/fondoHomeInv.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
   object-fit: cover;  
}

.navbar {
  background-color: #5e0000;
}

//drdropdown
.dropdown-item{
    color:#5e0000 !important;
}

.user {
  margin-left: 500px;
}

.far {
  font-size: 25px !important;
}

.fas {
  font-size: 20px;
}

.login {
  //background: url(../img/fondoUser.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.red {
  width: 250px;
  height: 500px;
  background-color: #5e0000;
  padding-top: 25px;
  padding-left: 25px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 113px;
  color: #ffffff;
  position: relative;
  bottom: 50%;
  left: 15px;
}

.formcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 170px;
}

.formLogin {
  height: 500px;
  background: #c4c4c4;
  width: 250px;
  font-size: 25px;
  color: #5e0000;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

.form-group {
  border-radius: 0px;
  border-bottom: solid 1px #5e0000;
}

.btnLogin {
  background: #5e0000;
  border-radius: 50px;
  width: 150px;
  color: white;
  margin: auto;
}

.formLogin h1 {
  color: #5e0000;
  font-size: 25px;
  margin-top: 15px;
}
//forget paswword

.forget {
  //background: url(../img/fondoUser.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.forget h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 35px !important;
  line-height: 50px;
  color: #ffffff;
  position: relative;
  bottom: 50%;
  left: 15px;
}
.textForget h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px !important;
  line-height: 30px;
  color: #383A36 !important;
  position: relative;
  bottom: 50%;
  left: 15px;
}

.textForget a {
    text-decoration: none !important;
}

.textForget a:hover {
    color:#ffffff !important;
}
.newPass {
  //background: url(../img/fondoUser.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.newPass h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 1.3em;
  color: #ffffff;
  position: relative;
  bottom: 50%;
  left: 15px;
}

.signup {
  //background: url(../img/fondoUser.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.divImg {
  width: 250px;
  height: 750px;
  background-color: #5e0000;
  padding-top: 25px;
  padding-left: 17px;
}

.formSign {
  height: 750px;
  background: #c4c4c4;
  width: 350px;
  font-size: 15px;
  color: #5e0000;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  overflow-y: scroll;
}

.formSingcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Grupinput {
  display: flex;
}

.Grupinput i {
  display: none;
}

.store {
  //background: url(../img/fondoeCommerce.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.titleStore {
  display: block;
  visibility: hidden;
}

.eCommerce {
  margin: auto;
  width: 70%;
  height: 1000px;
}

.titleBuy {
  background-color: #5e0000;
  width: 100%;
  color: white;
  margin-bottom: 10px;
}

.purchaseSummary {
  float: right;
  background-color: #5e0000;
  width: 30%;
  height: 150px;
  padding: 15px;
}

.purchaseSummary h5 {
  font-size: 30px;
  color: white;
}

.purchaseSummary button {
  color: #5e0000;
}

.cost {
  float: right;
}

.cardBuy {
  background-color: #c4c4c4;
  width: 67%;
  height: 100px;
  margin-bottom: 10px;
}

.cardBuy h5 {
  font-size: 30px;
  color: black;
}

.dropdown button {
  color: black;
  font-size: 30px;
}

.costDelete {
  margin-left: 150px;
}

.titleBuy {
  display: flex;
}

.wishlist {
  margin: auto;
  width: 97%;
  height: 1000px;
  box-sizing: border-box;
}

.hederFavCard {
  display: flex;
  max-width: 25%;
  height: auto;
  background-color: #c4c4c4;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  margin: 0px;
}

.infoCard {
  background-color: #5e0000;
  width: 50%;
  text-align: center;
  color: white;
}

.infoCard p {
  position: relative;
  display: block;
}

.imgCard {
  width: 50%;
}

.imgCard img {
  width: 100%;
}

.errorMsg p {
  color: #5e0000;
}

.errorMsg p:before {
  display: inline;
  content: "⚠ ";
  color: #5e0000;   //agrego lu 15/06
}
.errorMsg p {
    color: #5e0000 !important; //agrego lu 15/06
}
//contact
.contact {
  //background: url(../img/fondoUser.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
//galery
.gallery {
  //background: url(../img/fondoGaleria.jpg);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

//newpassword
.newPass{
    font-size: 10px !important;
}

//formActevateUser